.cart_items_container {
  position: absolute;
  background-color: white;
  opacity: 0;
  top: 6rem;
  overflow-y: scroll;
  border-radius: 0.2rem;
  -webkit-animation: fadeIn 0.3s 0.3s forwards;
          animation: fadeIn 0.3s 0.3s forwards;
}

.cart_items_container .cart_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_items_container .cart_top .remove_btn {
  font-weight: 700;
  border: none;
  background: none;
  color: #727272;
}

.cart_items_container .cart_top .remove_btn:hover {
  cursor: pointer;
}

.cart_items_container .products {
  margin-bottom: 6rem;
}

.cart_items_container .products .item_container {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_items_container .products .item_container .image_container {
  -webkit-box-shadow: 0 0 0.5rem #64646449;
          box-shadow: 0 0 0.5rem #64646449;
}

.cart_items_container .products .item_container .info .name {
  margin: 0;
}

.cart_items_container .products .item_container .info .price {
  margin: 0;
  color: #a6a6a6;
}

.cart_items_container .cart_bottom {
  position: fixed;
  background-color: #fff;
}

.cart_items_container .cart_bottom .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.cart_items_container .cart_bottom .checkout_btn {
  display: block;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #d87d48;
}

@media (max-width: 10240px) {
  .cart_items_container {
    height: 30rem;
    width: 20rem;
    padding: 1.5rem;
    right: 5rem;
  }
  .cart_items_container .cart_top .total_amount {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .products .item_container {
    height: 6rem;
  }
  .products .item_container .image_container {
    width: 80px;
    height: 80px;
  }
  .products .item_container .info .name {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .products .item_container .info .price {
    font-weight: 600;
  }
  .cart_bottom {
    top: 29rem;
    height: 7rem;
    width: 17rem;
  }
  .cart_bottom .checkout_btn {
    width: 17rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .cart_items_container {
    right: 4rem;
  }
}

@media (max-width: 768px) {
  .cart_items_container {
    padding: 1rem;
    width: 15rem;
    height: 24rem;
    right: 2rem;
  }
  .cart_items_container .products .item_container .image_container {
    width: 60px;
    height: 60px;
  }
  .cart_items_container .products .item_container .info .name {
    font-size: 1rem;
  }
  .cart_items_container .products .item_container .info .price {
    font-size: 0.8rem;
  }
  .cart_items_container .cart_bottom {
    width: 13rem;
    height: 6rem;
    top: 24rem;
  }
  .cart_items_container .cart_bottom .checkout_btn {
    width: 100%;
    line-height: 1.8rem;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=cart_items.module.css.map */