//colors
$header-bg-clr: #191919;
$header-clr: #fff;
$header-underline-clr: #ffffff5d;
$header-navlinks-clr: #b4b4b4;
$nav-tb-mb-bg-clr: #fff;
$nav-tb-mb-clr: #000;
$main-bg-clr: #fff;
$zx9-bg-clr: #d87d48;
$zx9-h2-clr: #fff;
$zx9-p-clr: #ffffff9f;
$gear-span-clr: #ca8d6a;
$go-back-btn-clr: #828282;
//responsive
$max-mobile-width: 768px;
$max-tablet-width: 1024px;
$max-desktop-width: 10240px;
