@import "variables";
@import "responsive";

.cart_items_container{
 position: absolute;
 background-color: white;
 opacity: 0;
 top: 6rem;
 overflow-y: scroll;
 border-radius: 0.2rem;
 animation: fadeIn 0.3s 0.3s forwards;
 
 .cart_top{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .remove_btn{
   font-weight: 700;
   border: none;
   background: none;
   color: $clr-dark-grey;

   &:hover{
    cursor: pointer;
   }
  }
 }

 .products{
  margin-bottom: 6rem;
  
  .item_container{

   height: 6rem;
   display: flex;
   justify-content: space-around;
   align-items: center;

   .image_container{
    box-shadow: $img-shadow;
   }

   .info{

    .name{
     margin: 0;
    }

    .price{
     margin: 0;
     color: $clr-grey;
    }
   }
  }
 }
 
 .cart_bottom{
  position: fixed;
  background-color: $clr-white;

  .total{
   display: flex;
   justify-content: space-between;
   background-color: $clr-white;
  }
  .checkout_btn{
   display: block;
   text-transform: uppercase;
   text-align: center;
   border-radius: 0.2rem;
   color: $clr-white;
   background-color: $clr-orange;
  }
 }
}

@include desktop{

 .cart_items_container{
  height: 30rem;
  width: 20rem;
  padding: 1.5rem;
  right: 5rem;

  .cart_top{

   .total_amount {
    font-weight: 600;
    font-size: 1.5rem;
   }
  }
 }

 .products {
 
  .item_container {
   height: 6rem;
 
   .image_container {
    width: 80px;
    height: 80px;
   }
 
   .info {
 
    .name {
     font-weight: 700;
     font-size: 1.2rem;
    }
 
    .price {
     font-weight: 600;
    }
   }
  }
 }
 
 .cart_bottom {
  top: 29rem;
  height: 7rem;
  width: 17rem;
 
  .checkout_btn {
   width: 17rem;
   line-height: 2.5rem;
  }
 }
}

@include tablet{
 
 .cart_items_container{
  right: 4rem;
 }
}

@include mobile{

 .cart_items_container{
  padding: 1rem;
  width: 15rem;
  height: 24rem;
  right: 2rem;
  
  .products{

   .item_container{

    .image_container{
     width: 60px;
     height: 60px;
    }

    .info{

     .name{
      font-size: 1rem;
     }

     .price{
      font-size: 0.8rem;
     }
    }
   }
  }

  .cart_bottom{
   width: 13rem;
   height: 6rem;
   top: 24rem;

   .checkout_btn {
    width: 100%;
    line-height: 1.8rem;
   }
  }
 }
}

@keyframes fadeIn{
 from{
  opacity: 0;
 }
 to{
  opacity: 1;
 }
}