@import "variables";
@import "responsive";

.footer_container {
  background-color: #101010;
  min-height: 20rem;
  overflow: hidden;
  padding: 3rem 10vw 0rem 10vw;

  .logo {
    float: left;
  }
  .links {
    display: flex;
    margin-top: 0;
    float: right;
    color: $header-navlinks-clr;
    justify-content: space-between;
    text-transform: uppercase;

    .link {
      margin-left: 1rem;
      list-style-type: none;

      & a:hover {
        color: #fff;
        filter: drop-shadow(0 0 10px #fff);
      }
    }
  }

  .description {
    clear: both;
    margin-top: 4rem;
    color: #5f5f5f;
    font-weight: 500;
    line-height: 1.2rem;
    width: 30rem;
  }

  .copyright {
    float: left;
    color: #5f5f5f;
    margin-top: 3rem;
  }
  .social_icons {
    float: right;
    margin-top: 4rem;

    li {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}

@include mobile {
  .footer {
    .logo {
      width: 100%;
      text-align: center;
    }
    .links {
      margin-left: -2.5rem;
      display: block;
      text-align: center;
      float: none;
      .link {
        margin-left: 0;
      }
    }
    .description {
      text-align: center;
      width: 100%;
    }
    .copyright {
      text-align: center;
      float: none;
    }

    .social_icons {
      float: none;
      text-align: center;
      margin-left: -2.5rem;
    }
  }
}
