@import "variables";
@import "responsive";

.footer_container {
  display: grid;
  min-height: 20rem;
  padding: 3rem 10%;
  background-color: $footer-bg-clr;
  @include desktop{
    grid-template: 2rem 15rem 3rem / 1fr 1fr;
  }
  @include mobile{
    grid-template: 4rem 5rem 15rem 4rem 3rem / 1fr;
  }
}