@import "variables";
@import "responsive";

.header_container{
    display: grid;
    position: fixed;
    z-index: 10;
    top: 0;
    grid-auto-rows: 5rem;
    width: 100%;
    align-items: center;
    background-color: $header-bg-clr;

    &::after {
      content: "";
      background-color: $header-underline-clr;
      position: absolute;
      bottom: 0;
      height: 1px;
      left: 50%;
      transform: translate(-50%, 0);
      
  }
}

@include desktop {

  .header_container{
    grid-template-columns: 143px 1fr 1.5rem;
    padding: 0 5rem;

    &::after{
      width: calc(100% - 10rem);
    }
  }
}

@include tablet{
  
  .header_container{
    grid-template-columns: 1.5rem 1fr 1.5rem;
    padding: 0 4rem;

    &::after {
      width: calc(100% - 8rem);
    }
  }
}

@include mobile{
  
  .header_container {
    grid-template-columns: 1.5rem 1fr 1.5rem;
    padding: 0 2rem;
  
    &::after {
      width: calc(100% - 4rem);
    }
  }
}