@import "variables";
@import "responsive";

.header_container{
    display: grid;
    position: fixed;
    z-index: 10;
    top: 0;
    grid-auto-rows: 5rem;
    width: 100%;
    align-items: center;
    padding: 0 10% 0 10%;
    background-color: $header-bg-clr;

    &::after {
      content: "";
      background-color: $header-underline-clr;
      position: absolute;
      bottom: 0;
      height: 1px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 80%;
  }
}

@include desktop {

    .header_container{
        grid-template-columns: 143px 1fr 1.5rem;
  }
}
@include tablet{
  
  .header_container{
    grid-template-columns: 1.5rem 1fr 1.5rem;
  }
}