@import "responsive";
@import "variables";

.header {
  display: flex;
  position: fixed;
  top: 0;
  flex-flow: row nowrap;
  z-index: 10;
  background-color: $header-bg-clr;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 0 10vw;
  width: 100vw;
  height: 5rem;
  overflow-y: visible;

  &::after {
    content: "";
    background-color: $header-underline-clr;
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;
  }
  .tb_mb_logo {
    display: none;
  }
  @include tablet {
    .desktop_logo {
      display: none;
    }
    .tb_mb_logo {
      display: block;
    }
  }
}

.overlay {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191919b8;
}
