.hero_bg {
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100vw;
  height: 80vh;
  background-color: #181818;
}
.top {
  background-color: white;
  margin-top: 80rem;
  height: 100rem;
}

.hero {
  #{&}_h1 {
    margin: 20rem 10vw 0 10vw;
    overflow: hidden;
    width: 500px;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    &::before {
      display: block;
      color: #414141;
      font-weight: 500;
      letter-spacing: 0.4rem;
      font-size: 1.2rem;
      content: "NEW PRODUCT";
    }
  }
  #{&}_p {
    margin: 2rem 10vw 0 10vw;
    width: 350px;
    font-weight: 100;
    color: #ffffff9e;
  }
  .bg_pic {
    position: fixed;
    top: 0;
    height: 60rem;
    width: 100vw;
    overflow: hidden;
    z-index: -10;
  }
}
