@import "variables";
@import "responsive";

.header_nav_container{
  display: flex;
  justify-content: center;

  .hamburger{
    &:hover{
      cursor: pointer;
    }
  }

  .nav_list{
    list-style-type: none;
    
    .link{
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2rem;
      margin: 0 1rem;

      &:hover{

        a{
          color: #fff;
          filter: drop-shadow(0 0 10px #fff);
        }
      }
    }
  }
}

@include desktop{

  .logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .header_nav_container{

    .hamburger{
      display: none;
    }

    .nav_list{

      .link{

        a {
          color: $header-navlinks-clr;
        }
      }
    }
  }
}

@include tablet{
  .logo{
    margin: 0 auto;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .header_nav_container {
    grid-column: 1 / 2;
    
    .hamburger{
      display: inline-block;
    }

    .nav_list{
      top: 5rem;
      left: 2.5rem;
      max-height: 0rem;
      overflow: hidden;
      transition: max-height 0.5s;
      position: absolute;
      z-index: 10;

      .link{
        display: block;
        background-color: $nav-tb-mb-bg-clr;
        line-height: 3rem;
        padding: 0 2rem;

        a{
          color: $nav-tb-mb-clr;
        }

        &:hover {
          background-color: #000;

          a{
            color: $clr-white;
          }
        }
      }
    }
    
    .shown {
      max-height: 28rem;
    }

    .hidden {
      max-height: 0;
    }
  }
}

@include mobile{

  .header_nav_container {

    .nav_list {
      left: 0;
    }
  }
}
