@import "variables";
@import "responsive";

.product_container {
  margin-top: 4rem;

  .grid_container {
    display: grid;
    margin-top: 4rem;

    .image {
      position: relative;
      border-radius: 1rem;
      background-color: #f1f1f1;
      box-shadow: $img-shadow;
    }

    .info {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      .new {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.5rem;
        color: #ee8f5cbd;
      }

      .name {
        margin: 0;
        line-height: 3rem;
      }

      .description {
        color: $clr-grey;
      }

      .price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }
    }
  }
}

@include desktop {

  .grid_container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;

    .image {
      height: 40rem;
    }
    
    .info{

      .name{
        font-size: 3.5rem;
      }

      .description {
        margin: 2rem 0;
        font-size: 1.1rem;
      }
    }
  }
}

@include tablet {

  .grid_container {
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    .image {
      height: 20rem;
    }

    .info {

      .name{
        font-size: 3rem;
      }
    }
  }
}

@include mobile{
  
  .grid_container{
    grid-gap: 1rem;

    .image{
      height: 15rem;
    }

    .info{
      
      .name{
        font-size: 2rem;
      } 
      
      .description {
        margin: 1rem 0;
        font-size: 1rem;
      }
    }
  }
}